.navbar-light .navbar-brand {
    color: white !important;
}

.nav-link {
    color: white;
}

#projectRow {
    margin-top: 25px;
}

.project2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project0{
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.project {
    margin-left: 10px;
}

